<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-3">New Campground</h1>
        <form action="/campgrounds" method="post" class="mb-3 validated-form" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="campground[title]" id="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" name="campground[location]" id="location" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label" id="price-label">Price per night:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0.00"
                        aria-label="price" aria-describedby="price-label" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea type="text" name="campground[description]" id="description" class="form-control"
                    required></textarea>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Image(s):</label>
                <input class="form-control" type="file" id="images" name="image" multiple>
            </div>
            <div class="d-flex justify-content-start">
                <button class="btn btn-success">Add Campground</button>
                <a class="btn btn-secondary ms-3" href="/campgrounds">Cancel</a>
            </div>
        </form>

    </div>
</div>